:root {
  --company-color: rgba(23,73,151,1);
}


* {
  box-sizing: border-box;
  transition: all ease-in-out 400ms;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 90em;
  margin: 0 auto;
  padding: 0 auto;
}

.clearfix::after,
section::after {
  content: '';
  display: block;
  clear: both;
}



/* Nav */

nav .nav-item  {
  color: ;
  margin: 2px;
}

nav .nav-item:hover {
  color: #fff;
  background-color: var(--company-color);
  transition: all 0.4s ease 0s;
  border-radius: 10px;
}

nav .active {
  color: var(--company-color);
  border-radius: 10px;
  border: 2px var(--company-color) solid;
}

.navbar {
  background-color: rgba(255,255,255,.95);
}

.navbar-toggler {
  border: 1px solid var(--company-color);
  border-radius: 3px;
}

.navbar-toggler-icon  {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, .85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
  border: 1px solid var(--company-color);
  border-radius: 3px;
}

.dropdown-menu {
  background-color: #fff;
}

.dropdown-menu .active {
  background-color: #fff;
  color: #000;
}

.dropdown-menu > a {
  color: var(--company-color);
}

.dropdown-menu > a:hover {
  color: #fff;
}

.navbar-brand {
  max-width: 300px;
}

.navbar-brand + img {
  width: 50%;
  min-width: 300px;
}


.home-hero {
  background-image: url(../img/clean.jpg);
  background-color: rgba(20,20,20,.55);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20em 0;
  color: #eee;
  text-align: center;
  text-transform: capitalize;
  height: 100vh;
  width: 100vw;

}

.jumbotron {
  margin: 2em 0 .5em;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--company-color);
  color: white;
}
.card:hover {

}
.cta .jumbotron {
  margin: 2em 0;

}
.copyright{
  margin-top: 25px;
}

footer .text-muted {
    font-size: .8em;
}

address{
    font-size: 1.1rem;
}
/* FOOTER */
footer {
    background-color: #eee;
    padding: 25px 0px 40px 0px;
    color: black;
}

footer a {
    color: var(--company-color);
    text-decoration: none;
    line-height: 2.6rem;
}

footer h5 {
  font-weight: 600;
  font-size: 1.2rem;
}


footer a:hover {
    color: #fff;
    padding: .3em;
    background-color: var(--company-color);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

footer .slogan {
  line-height: 3rem;
}

footer .column {margin-bottom: 20px;}
footer .content{text-align: justify;}

footer .philosophy p {
  font-size: .9em;
}

ul.social {
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}

ul.social li {
	font-size: 3em;
	display: inline;
	padding: 0 4%;
}

ul.social li a {
	color: var(--company-color);
}
ul.social li a{background-color: #eee }
ul.social li.facebook a:hover {color: rgb(59,89,152);}
ul.social li.twitter a:hover {color: rgb(0, 172, 237);}
ul.social li.instagram a:hover {color: rgb(81, 127, 237);}
ul.social li.youtube a:hover {color: rgb(187, 0, 0);}
ul.social li.flickr a:hover {color: rgb(255, 0, 132);}
ul.social li.linkedin a:hover {color: rgb(0, 123, 182);}
ul.social li.yelp a:hover {color: #af0606;}

p.copyright {
	text-align: center;
	color: #ccc;
	font-size: 1em;
}
